body{
    font-family: Arial;
    padding-left: 10px;
}
.input-grid,.output-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    row-gap: 10px;
    column-gap: 10px;
    align-items: center;
}
.output-grid{
    margin-top: 15px;
}
.add-button{
    background-color: green;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    font-weight: bold;
}
.delete-button{
    background-color: darkred;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    font-weight: bold;
}